db/

# Ignore all executables
*.exe

# Ignore all env files
*.env

# Ignore all log files
*.log

# Ignore all temp files
*~

# Do not ignore example env files
!example.env

# Do not ignore example config files
!exampleconfig.yaml